batch-protein-folding.zip
*.DS_Store*
.mypy_cache/
**/__pycache__
.taskcat/
.venv/*
.vscode/*
infrastructure/cloudformation/batch-protein-folding-cfn-packaged.yaml
taskcat_outputs/
random_commands.sh
.github/
.pytest_cache/
delete.sh
src/batchfold.egg-info/dependency_links.txt
src/batchfold.egg-info/PKG-INFO
src/batchfold.egg-info/requires.txt
src/batchfold.egg-info/SOURCES.txt
src/batchfold.egg-info/top_level.txt
*egg-info
notebooks/data/*
notebooks/data/
notebooks/TMscore*
notebooks/cameo*