.mypy_cache/
.pytest_cache/
.venv/
.vscode/
build/
*.DS_Store*
**/__pycache__
infrastructure/cloudformation/batch-protein-folding-cfn-packaged.yaml
random_commands.sh
.github/
src/batchfold.egg-info/
*egg-info
notebooks/data/
notebooks/TMscore*
.mypy.ini
.analysis/
analysis/
.security_scans/
test.sh
tests/data/
data