# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0
variables:
  AWS_DEFAULT_REGION: us-east-1
  DEPLOYMENT_BUCKET_NAME: aws-batch-architecture-for-alphafold-public-artifacts
  DEV_BUCKET_PREFIX: dev
  MAIN_BUCKET_PREFIX: main

default:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/amazonlinux:latest

include:
  - template: Security/Secret-Detection.gitlab-ci.yml

stages:
  - lint
  - deploy-dev
  - test
  - deploy-main

################################
# .pre
################################

# cfn-lint:
#   image: python:3.8
#   stage: lint
#   before_script:
#     - python --version # For debugging
#     - pip install virtualenv
#     - virtualenv venv
#     - source venv/bin/activate
#     - pip install -U cfn-lint
#     - pip freeze
#   script:
#     - cfn-lint -I infrastructure/cloudformation/*cfn*.yaml -i W3002

cfn-nag:
  image:
    name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/stelligent/cfn_nag
    entrypoint: ['']
  stage: lint
  script:
    - cfn_nag_scan --input-path infrastructure/cloudformation/*.yaml

secret_detection:
  stage: lint
  variables:
    CI_DEBUG_TRACE: "true"

################################
# deploy-dev
################################

push-to-s3-dev:
  stage: deploy-dev
  before_script:
    - yum update -y && yum install -y awscli zip
  script:
    - zip -r batch-protein-folding.zip . -x .\*/\* -x .gitlab-ci.yml
    - aws s3 cp batch-protein-folding.zip s3://$DEPLOYMENT_BUCKET_NAME/$DEV_BUCKET_PREFIX/batch-protein-folding.zip
    - aws cloudformation package --template-file infrastructure/cloudformation/batch-protein-folding-cfn-root.yaml --output-template infrastructure/cloudformation/batch-protein-folding-cfn-packaged.yaml --s3-bucket $DEPLOYMENT_BUCKET_NAME --s3-prefix $DEV_BUCKET_PREFIX --region $AWS_DEFAULT_REGION
    - aws s3 cp infrastructure/cloudformation/batch-protein-folding-cfn-packaged.yaml s3://$DEPLOYMENT_BUCKET_NAME/$DEV_BUCKET_PREFIX/batch-protein-folding-cfn-packaged.yaml
  artifacts:
    paths:
      - infrastructure/cloudformation/batch-protein-folding-cfn-packaged.yaml
    expire_in: 1 day
  only:
    - dev

################################
# test
################################

test_cfn:
  image: python:3.8
  stage: test
  before_script:
    - python --version # For debugging
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate
    - pip install taskcat
    - pip freeze
  script:
    - taskcat test run
  only:
    - dev

################################
# deploy-main
################################

push-to-s3-main:
  stage: deploy-main
  before_script:
    - yum update -y && yum install -y awscli zip
  script:
    - zip -r batch-protein-folding.zip . -x .\*/\* -x .gitlab-ci.yml
    - aws s3 cp batch-protein-folding.zip s3://$DEPLOYMENT_BUCKET_NAME/$MAIN_BUCKET_PREFIX/batch-protein-folding.zip
    - aws cloudformation package --template-file infrastructure/cloudformation/batch-protein-folding-cfn-root.yaml --output-template infrastructure/cloudformation/batch-protein-folding-cfn-packaged.yaml --s3-bucket $DEPLOYMENT_BUCKET_NAME --s3-prefix $MAIN_BUCKET_PREFIX --region $AWS_DEFAULT_REGION
    - aws s3 cp infrastructure/cloudformation/batch-protein-folding-cfn-packaged.yaml s3://$DEPLOYMENT_BUCKET_NAME/$MAIN_BUCKET_PREFIX/batch-protein-folding-cfn-packaged.yaml      
  only:
    - main
